# Ignorar diretórios de build e cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ambientes virtuais
venv/
env/

# Git e arquivos do sistema
.git/
.gitignore
.DS_Store

# Logs e arquivos de configuração locais
logs/
*.log
*.out
.env
secrets/

# Arquivos de compilação e dependências
*.egg-info/
dist/
build/

# Ignorar protobufs gerados para evitar recompilação desnecessária
mqtt_vision/data/*.pb2.py
mqtt_vision/data/__pycache__/

# Excluir arquivos desnecessários do submódulo dentro do Docker
mqtt_vision/.git/
mqtt_vision/.gitmodules
